.djs-snake-case-ids {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  overflow: hidden;
}

.djs-snake-case-ids button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 4px;
  padding: 4px 10px;
}

.djs-snake-case-ids ul {
  padding-left: 4px;
  padding-right: 4px;
  max-height: 100px;
  overflow: auto;
}

.djs-snake-case-ids-toggle {
  width: 100px;
  height: 24px;
  cursor: default;
  font-size: 11px;
  padding: 4px;
}

.djs-snake-case-ids.open .djs-snake-case-ids-toggle {
  height: 10px;
  width: 100%;
}

.djs-snake-case-ids-toggle:hover {
  background: #666;
  color: white;
}

.djs-snake-case-ids .djs-snake-case-ids-container {
  display: none;
}

.djs-snake-case-ids.open .djs-snake-case-ids-container {
  display: block;
}
